* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

body {
    background: #B0B8F1;
    padding: 30px;
}

.root {
    width: 350px;
    height: 60px;
    gap: 10px;
    padding: 10px;
    margin-left: 90px;
    margin-bottom: 10px;
}

.root h1 {
    font-size: 1.3rem;
    color: #243687;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.root i {
    font-size: 1.8rem;
    margin: 2px;
}

#box {
    width: 90%;
    height: 60vh;
    background-color: #4A5CA8;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;

}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.box2 {
    width: 90%;
    background-color: #4A5CA8;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box2 .passwordsection {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.box2 .passwordsection input {
    width: 250px;
    height: 30px;
    margin-top: 20px;
    margin-right: 10px;
}

.box2 h1 {
    color: #fff;
    font-size: 1.7rem;
    padding: 30px;
}

.leftsection {
    width: 30%;
    height: 75%;
    margin: 10px;
    margin-top: 40px;
    margin-left: 30px;
    background-color: #243687;
    display: flex;
    flex-direction: column;
}

.leftsection h1 {
    color: #fff;
    font-size: 1.1rem;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.leftsection button {
    padding: 7px;
    background-color: #007BFF;
    color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 3px;
}

.detail {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.detail input {
    padding: 7px;
    width: 80%;
}

.inputsec {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.inputsec input {
    border: 0;
    outline: 0;
}

.inputsec .icon {
    padding: 3px;
    background-color: #fff;
    color: black;
    margin-left: 8px;
    text-align: center;
}

.rightsection {
    width: 30%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-top: 30px;
}

.rightsection img {
    width: 80%;
    height: auto;
    margin-top: 60px;
    object-fit: cover;
}

.showpasword {
    display: flex;
    gap: 10px;
    margin-left: 80%;
    color: #fff;
}

.no-password-img {
    width: 30%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-top: 30px;
}

.no-password-img img {
    width: 80%;
    height: auto;
    margin-top: 60px;
    object-fit: cover;
    margin-left: 230%;
}
.pwrd-num{
    height: 30px;
    width: 30px;
    margin-top: 35px;
    margin-right: 90vh;
    text-align: center;
    border: 2px solid rgb(3, 3, 94);
    border-radius: 5px;
}

.displaydetail {
    width: 90%;
    height: auto;
    display: flex;
}

.detailshow {
    width: 200px;
    color: black;
    padding: 4px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.detail-nav {
    width: 100%;
    height: 50px;
    display: flex;
}

.detailshow .deletebtn {
    color: black;
    margin-right: 20px;
}

.displaydetail .firstletter {
    width: 38px;
    height: 35px;
    background-color: rgb(8, 72, 8);
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.4rem;
}

.displaydetail .passworddetail {
    margin-left: 40px;
    margin-top: 10px;
}

.displaydetail button {
    outline: 0;
    border: 0;
    background: 0;
    color: #fff;
    font-size: 1.4rem;
    margin-left: 40px;
}